<div id="main-container" class="component-container">
  <div class="left-container">
    <img id="login-image">
  </div>
  <div class="right-container">
    <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
      <mat-card appearance="outlined">
        <div id="login-form">
          <mat-card-content>
            <label class="title-label">LOGIN FORM</label>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                id="email"
                formControlName="email"
                matInput
                type="text"
                autocomplete="off"
              />
            </mat-form-field>
            <div class="error-container">
              <div class="error" *ngIf="emailError">
                {{ emailError }}
              </div>
            </div>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                id="password"
                formControlName="password"
                autocomplete="off"
                matInput
                [type]="passwordHiddenSignal() ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                class="password-button"
                (click)="changePasswordVisibility($event)"
                [attr.aria-label]="
                  passwordHiddenSignal() ? 'Hide password' : 'Show password'
                "
                [attr.aria-pressed]="passwordHiddenSignal()"
              >
                <mat-icon>{{
                  passwordHiddenSignal() ? "visibility" : "visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <div class="error-container">
              <div class="error" *ngIf="passwordError">
                {{ passwordError }}
              </div>
            </div>
            <div *ngIf="validationServerErrors?.length">
              <ul *ngFor="let error of validationServerErrors">
                {{
                  error
                }}
              </ul>
            </div>
            <div class="error-container">
              <div *ngIf="serverError" class="error">
                {{ serverError }}
              </div>
            </div>
            <button
              type="submit"
              mat-flat-button
              class="submit-button"
            >
              Log in
            </button>
            <div id="register-container">
              <button mat-raised-button id="register-button" routerLink="/register">Create new account</button>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </form>
  </div>
</div>
