mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

#login-image{
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/photos/login/login.png');
}

#register-container{
  border-top: 2px solid white;
  margin-top: 50px;
}

#register-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  color: white;
  border: 2px solid white;
  margin: 30px 20px !important;
  background-color: rgb(67, 176, 67);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}
