@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-icon.red {
  color: red;
}
mat-icon.primary{
  color: mat.get-color-from-palette(theme.$primary);
}

#main-container,
#race-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  height: auto;
  color: white;
}
#race-container {
  margin-top: 10px;
}

#main-container {
  padding: 20px;
}
#form-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.poster-container{
  display: flex;
  justify-content: center;
}
.poster {
  display: flex;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0;
}
.button-icon-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}
.left-icon-button {
  margin-right: 10px;
}

.race-information-item {
  display: flex;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  form {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 400px;
  }
}
