@use "@angular/material" as mat;

@import "./node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette, 700);
$accent: mat.define-palette(mat.$deep-orange-palette, 400);

$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

::ng-deep .carousel-control-next,
::ng-deep .carousel-control-prev {
  width: 40px;
}

::ng-deep .mat-mdc-paginator-container {
  min-width: 460px !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

::ng-deep .mat-mdc-paginator-range-label {
  margin-right: 28px !important;
}

::ng-deep .mat-step-icon {
  background-color: mat.get-color-from-palette($primary) !important;
  color: white !important;
  border: 2px solid white !important;
}

::ng-deep .mat-mdc-paginator-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
}

::ng-deep mat-paginator {
  color: white !important;
  background-color: mat.get-color-from-palette($primary) !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: white !important;
}

::ng-deep mat-form-field {
  border: 2px solid white !important;
}

::ng-deep .mat-mdc-paginator-icon {
  fill: white !important;
}

::ng-deep .mat-mdc-paginator button[disabled] .mat-mdc-paginator-icon {
  fill: gray !important;
}

::ng-deep .mat-step-icon.mat-step-icon-selected {
  background-color: rgb(67, 176, 67) !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: mat.get-color-from-palette($primary) !important;
}
::ng-deep .mat-datepicker-toggle-default-icon {
  color: mat.get-color-from-palette($primary) !important;
}

::ng-deep label.mdc-label{
  color: white !important;
}

mat-card {
  background-color: mat.get-color-from-palette($primary) !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 25px;
}

mat-stepper {
  background-color: mat.get-color-from-palette($primary) !important;
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: mat.get-color-from-palette($primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: wrap;
  word-break: break-word;
}

button {
  color: white;
}

button.password-button {
  background-color: mat.get-color-from-palette($primary) !important;
  margin-right: 10px;
  border-radius: 15px;
  color: white;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.select-white-theme .mat-mdc-select-min-line {
  color: white !important;
}

.component-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 70px);
  min-height: calc(100vh - 70px);
  width: 100%;
  margin-top: 70px;
  background-color: mat.get-color-from-palette($primary, 700);
}

.left-container {
  display: none;
}
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: mat.get-color-from-palette($primary);
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
}

.error {
  color: orange;
  font-size: 16px;
  margin: 5px;
  padding: 0;
}

.mat-step-text-label {
  color: white;
}

.mat-mdc-menu-content {
  background-color: mat.get-color-from-palette($primary, 700);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.title-label,
.subtitle-label {
  color: white;
}

.title-label {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitle-label {
  font-size: 18px;
  font-weight: 400;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  min-height: 50px;
  color: mat.get-color-from-palette($primary) !important;
  background-color: white !important;
  border-radius: 15px !important;
}
.race-button,
.race-browse-button {
  width: 250px !important;
  height: 60px !important;
  font-size: 22px !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  color: white !important;
  border: 2px solid white !important;
  margin: 10px !important;
}
.race-button {
  background-color: rgb(67, 176, 67) !important;
}

.race-browse-button {
  background-color: rgb(230, 150, 2) !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .component-container {
    height: calc(100% - 90px);
    min-height: calc(100vh - 90px);
    margin-top: 90px;
  }
  .button-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .button-container {
    flex-direction: row;
  }
  .component-container {
    height: calc(100% - 90px);
    min-height: calc(100vh - 90px);
    margin-top: 90px;
  }
  .left-container {
    display: flex;
    height: 100%;
    width: 55%;
  }
  .right-container {
    display: flex;
    height: 100%;
    width: 45%;
  }
}
