#main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#poster-image {
  display: flex;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-image: url("/assets/photos/Home/poster2.png");
}
.race-container {
  margin: 10px 0 30px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.bold {
  font-weight: 600;
}

.white-text {
  color: white;
  font-size: 16px;
}

.description {
  margin-top: 10px;
}
.button-container {
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
  .right-information-container {
    margin: 20px;
  }
  .race-container {
    display: flex;
    flex-direction: row;
  }
}
