<div id="main-container" class="component-container">
    <mat-label>Moderator Panel - Users</mat-label>
    <div id="form-container">
        <form [formGroup]="searchForm">
            <mat-form-field>
                <input matInput
                  type="text"
                  placeholder="Search..."
                  formControlName="searchValue"
                />
            </mat-form-field>
        </form>
    </div>
  <div class="search-container">
    <div id="user-container" *ngFor="let user of users">
      <div class="user-information">
        <p>
          User ID: <strong>{{ user.id }} </strong>
        </p>
        <p>Name: {{ user.name }}</p>
        <p>Surname: {{ user.surname }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Gender: {{ user.gender }}</p>
        <p>Date of Birth: {{ user.dateOfBirth }}</p>
        <button class="button-icon"(click)="openDialog(user)"><mat-icon>delete_forever</mat-icon></button>
      </div>
    </div>
  </div>
</div>
