@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-stepper {
  display: flex;
  flex-direction: column;
}

mat-card {
  display: flex;
  border: none;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

mat-form-field {
  display: flex;
  flex-direction: column;
}

#personal-information-form,
#race-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#image {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}
