@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-form-field {
  margin-top: 10px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 100%;
  margin-top: 20px;
}

#title-label {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {  
  .model-field {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .subtitle-label {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .model-field {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .subtitle-label {
    width: 200px;
  }
}
