<div id="main-container">
  <div id="profile-form">
    <form [formGroup]="userForm">
    <label id="title-label" class="title-label">PROFILE INFORMATION</label>
    <div class="model-field">
      <label class="subtitle-label">Email:</label>
      <mat-form-field class="margin-bottom-10">
        <input
          id="email"
          formControlName="email"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="model-field">
      <label class="subtitle-label">Name:</label>
      <mat-form-field class="margin-bottom-10">
        <input
          id="name"
          formControlName="name"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="model-field">
      <label class="subtitle-label">Surname:</label>
      <mat-form-field class="margin-bottom-10">
        <input
          id="surname"
          formControlName="surname"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="model-field">
      <label class="subtitle-label">Date of birth:</label>
      <mat-form-field class="margin-bottom-10">
        <input
          id="dateOfBirth"
          formControlName="dateOfBirth"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="model-field">
      <label class="subtitle-label">Gender:</label>
      <mat-form-field class="margin-bottom-10">
        <input
          id="gender"
          formControlName="gender"
          matInput
        />
      </mat-form-field>
    </div>
    </form>
  </div>
</div>
