<div id="main-container" class="component-container">
  <div class="left-container">
    <img id="image" [src]="raceUrl + race.posterUrl" />
  </div>
  <div class="right-container">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [editable]="false">
        <form [formGroup]="raceInfoForm" (ngSubmit)="validateRaceInformation()">
          <ng-template matStepLabel>Race information</ng-template>
          <mat-card appearance="outlined">
            <div id="race-form">
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Race name</mat-label>
                  <input
                    id="race"
                    formControlName="race"
                    matInput
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="raceError">
                    {{ raceError }}
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>Trace</mat-label>
                  <mat-select id="raceTrace" formControlName="raceTrace">
                    <mat-option
                      *ngFor="let trace of raceTraces"
                      [value]="trace.id"
                    >
                      {{ trace.details + ", " + trace.hourOfStart }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="raceTraceError">
                    {{ raceTraceError }}
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>Team name</mat-label>
                  <input
                    id="teamName"
                    formControlName="teamName"
                    matInput
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="teamNameError">
                    {{ teamNameError }}
                  </div>
                </div>
                <mat-form-field *ngIf="isTShirtSizeSelectVisibility">
                  <mat-label>T-Shirt size</mat-label>
                  <mat-select id="tShirtSize" formControlName="tShirtSize">
                    <mat-option
                      *ngFor="let size of tShirtSizes"
                      [value]="size.value"
                    >
                      {{ size.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div
                  class="error-container"
                  *ngIf="isTShirtSizeSelectVisibility"
                >
                  <div class="error" *ngIf="tShirtSizeError">
                    {{ tShirtSizeError }}
                  </div>
                </div>
                <section>
                  <mat-checkbox
                    (click)="changeTShirtSizeSelectVisibility()"
                    class="white-text"
                    >I want an Official London Half-Marathon T-Shirt for an
                    additional 10GBP.</mat-checkbox
                  >
                </section>
                <section>
                  <mat-checkbox
                    (click)="changeBooleanMedalGratification()"
                    class="white-text"
                    >I want a medal engraving for an additional
                    5GBP.</mat-checkbox
                  >
                </section>
                <button
                  type="submit"
                  mat-flat-button
                  class="submit-button margin-top-10"
                >
                  Next
                </button>
              </mat-card-content>
            </div>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="personalInfoForm" [editable]="false">
        <form [formGroup]="personalInfoForm" (ngSubmit)="sendReservation()">
          <ng-template matStepLabel>Personal information</ng-template>
          <mat-card appearance="outlined">
            <div id="personal-information-form">
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input
                    id="email"
                    formControlName="email"
                    matInput
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="emailError">
                    {{ emailError }}
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input
                    id="name"
                    formControlName="name"
                    matInput
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="nameError">
                    {{ nameError }}
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>Surname</mat-label>
                  <input
                    id="surname"
                    formControlName="surname"
                    matInput
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="surnameError">
                    {{ surnameError }}
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <input
                    id="gender"
                    formControlName="gender"
                    matInput
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="genderError">
                    {{ genderError }}
                  </div>
                </div>
                <mat-form-field>
                  <mat-label>Date of birth</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    id="dateOfBirth"
                    formControlName="dateOfBirth"
                    required
                    readonly
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="error-container">
                  <div class="error" *ngIf="dateOfBirthError">
                    {{ dateOfBirthError }}
                  </div>
                </div>
                <button
                  type="submit"
                  mat-flat-button
                  class="submit-button margin-top-20 margin-bottom-10"
                >
                  Send reservation
                </button>
              </mat-card-content>
            </div>
          </mat-card>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
