img {
  display: block;
  height: 280px;
  width: 470px;
  margin: 10px auto 20px auto;
}

#title-container {
  display: flex;
  width: 315px;
  height: 57px;
  margin-top: 10px;
  border-bottom: 2px solid white;
}

#carousel-container {
  cursor: pointer;
}

#title {
  display: flex;
  width: 300px;
  height: 50px;
  font-size: 38px;
  font-family: cursive;
  color: white;
  border-bottom: 2px solid white;
}

#text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#text {
  display: flex;
  font-size: 18px;
  font-family: cursive;
  color: white;
  padding: 10px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-button,
#login-button {
  width: 140px;
  height: 60px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 15px;
  color: white;
  border: 2px solid white;
  margin: 30px 20px !important;
}
#register-button {
  background-color: rgb(67, 176, 67);
}
#login-button {
  background-color: rgb(230, 150, 2);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  img {
    height: 400px;
    width: 700px;
  }
  #text {
    padding: 0 80px;
  }
  #register-button,
  #login-button {
    width: 150px;
    height: 65px;
    font-size: 24px;
    margin: 40px 50px 0 0 !important;
  }
  #login-button {
    margin: 40px 0 0 0 !important;
  }
}

@media screen and (min-width: 1200px) {
    img {
    height: 450px;
    width: 700px;
  }

  #main-container {
    justify-content: center;
  }

  #right-container {
    display: flex;
    flex-direction: row;
  }

  #carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  #text-container {
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
  }

  #title {
    font-size: 44px;
    height: 60px;
    width: 350px;
  }

  #title-container {
    height: 67px;
    width: 380px;
  }

  #text {
    padding: 0 100px;
    font-size: 22px;
  }

  #register-button,
  #login-button {
    width: 160px;
    height: 75px;
    font-size: 26px;
    margin: 50px 50px 0 0 !important;
  }
  
  #login-button {
    margin: 50px 0 0 0 !important;
  }
}
