<div id="main-container" class="component-container white-text">
  <div
    class="race-container"
    *ngFor="let traces of paginationResult.results"
  >
    <div class="left-image-container">
      <img id="poster" class="poster-button" [src]="raceUrl + traces.posterUrl" alt="{{traces.name}}" />
    </div>
    <div class="right-information-container">
      <div class="bold">{{ traces.name }}</div>
      <div class="bold">Date: {{ traces.dateOfStart }}</div>
      <div class="bold" *ngFor="let trace of traces.raceTraces">
        <div>{{trace.details}}</div>
      </div>

      <div *ngIf="traces.entryFeeGBP" class="bold">Entry Fee: {{ traces.entryFeeGBP }} GBP</div>
      <div *ngIf="!traces.entryFeeGBP" class="bold">Entry Fee: Free</div>
      <div class="description">
        {{ traces.description }}
      </div>
      <div class="button-container">
        <button
          mat-raised-button
          class="race-button"
          (click)="goToForm(traces.name + '/form')"
        >
          Join the race
        </button>
      </div>
    </div>
  </div>
  <mat-paginator
    [length]="paginationResult.totalCount"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="changePage($event)"
  >
  </mat-paginator>
</div>