<div id="main-container" class="component-container white-text">
  <div
    class="race-container"
    *ngFor="let race of paginationResult.results"
  >
    <div class="left-image-container">
      <img id="poster" class="poster-button" [src]="raceUrl + race.posterUrl"/>
    </div>
    <div class="right-information-container">
      <div class="bold">{{ race.name }}</div>
      <div class="bold">Date: {{ race.dateOfStart }}</div>
      <div class="bold" *ngFor="let race of race.raceTraces">
        <div>{{race.details}}</div>
      </div>

      <div *ngIf="race.entryFeeGBP" class="bold">Entry Fee: {{ race.entryFeeGBP }} GBP</div>
      <div *ngIf="!race.entryFeeGBP" class="bold">Entry Fee: Free</div>
      <div class="description">
        {{ race.description }}
      </div>
      <div class="button-container">
        <button
          mat-raised-button
          class="race-button"
          (click)="handleRace(race)"
          *ngIf="race.isRegistrationOpen === true"
        >
          See details
        </button>
      </div>
    </div>
  </div>
  <mat-paginator class="select-white-theme"
    [length]="paginationResult.totalCount"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="changePage($event)"
  >
  </mat-paginator>
</div>