@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-dialog-content {
  font-size: 20px !important;
  color: white !important;
}
p {
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  color: white;
  background-color: mat.get-color-from-palette(theme.$primary);
  border: 2px solid white;
}

#button-container,
#dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-button {
  width: 100px;
  height: 40px;
  margin: 20px;
}
