@use "@angular/material" as mat;
@use "src/styles" as theme;

#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding-left: 20px;
  background-color: mat.get-color-from-palette(theme.$primary);
}
#navbar-container-web {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

#navbar-mobile-button-menu {
  color: white !important;
  border: none;
}

.navbar-mobile-button {
  width: 170px;
  background-color: mat.get-color-from-palette(theme.$primary, 700);
}

.navbar-web-button {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 150px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-right: 2px solid white;
  background-color: mat.get-color-from-palette(theme.$primary);
}

.navbar-web-left-edge-button {
  border-left: 2px solid white;
}

.navbar-mobile-button:hover,
.navbar-web-button:hover {
  font-size: 16px;
  font-weight: bold;
  color: mat.get-color-from-palette(theme.$primary) !important;
  background-color: white !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #navbar-container {
    padding-left: 0;
  }
  #navbar-mobile-button-menu {
    display: none;
  }
  .navbar-web-button,
  .navbar-web-right-edge-button {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  #navbar-container {
    padding-left: 0;
  }
  #navbar-mobile-button-menu {
    display: none;
  }
  .navbar-web-button,
  .navbar-web-right-edge-button {
    display: flex;
  }
}
