<div id="main-container" class="component-container">
  <div class="left-container">
    <img id="contact-image" />
  </div>
  <div class="right-container">
    <form [formGroup]="form" id="contact-form" (ngSubmit)="sendEmail()">
      <mat-card>
        <mat-card-content>
          <label class="title-label">CONTACT FORM</label>
          <mat-form-field>
            <mat-label>Your email</mat-label>
            <input matInput id="sender" type="text" formControlName="sender" />
          </mat-form-field>
          <div class="error-container">
            <div class="error" *ngIf="senderError">
              {{ senderError }}
            </div>
          </div>
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <input matInput id="subject" type="text" formControlName="subject" />
          </mat-form-field>
          <div class="error-container">
            <div class="error" *ngIf="subjectError">
              {{ subjectError }}
            </div>
          </div>
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea
              matInput
              id="message"
              formControlName="message"
            ></textarea>
          </mat-form-field>
          <div class="error-container">
            <div class="error" *ngIf="messageError">
              {{ messageError }}
            </div>
          </div>
          <button mat-raised-button class="submit-button margin-top-20 margin-bottom-10" type="submit">
            Send
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
