mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
}
textarea {
  min-height: 200px !important;
  max-height: 250px !important;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

#contact-image {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/photos/contact/contact.png");
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  textarea {
    min-height: 200px !important;
    max-height: 230px !important;
  }
}

@media screen and (min-width: 1200px) {
  textarea {
    min-height: 200px !important;
    max-height: 230px !important;
  }
}
